* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f8f8f8;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-size: 32px;
  margin: 20px 0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.card {
  background: rgb(206, 185, 185);
  padding: 0px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.card.brown {
  background: #b86b4b;
  color: white;
}

.card.black {
  background: #131218;
  color: white;
}

.text-img-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0;
}

.text-img-row img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
}

.text-content {
  flex: 1;
  min-width: 250px;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: #eee;
  flex-wrap: wrap;
  gap: 10px;
}

.feature {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.section {
  margin-top: 40px;
}

.section img {
  max-width: 250px;
  border-radius: 10px;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #777;
}

@media (max-width: 768px) {
  .text-img-row {
    flex-direction: column;
  }
}
.rr{
  width: auto;
  border-radius: 50px;
  margin-top: 10px;
}
/* .ganesh{
  text-align: center;
} */
/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #ffffff;
  color: #1f1f1f;
}

.footer-section {
  flex: 1;
  margin-right: 30px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #1f1f1f;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.contact .phone {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact .phone i {
  margin-right: 10px;
}

.contact .phone a {
  text-decoration: none;
  color: #1f1f1f;
}

.contact .social h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact .social a {
  margin-right: 10px;
  font-size: 20px;
  color: #1f1f1f;
  text-decoration: none;
}

.contact .social a:hover {
  color: #555;
}
.nav{
  position: relative;
  left: 150px;
 
}
.nav a:hover{
  color: rgb(0, 255, 110);
  text-decoration: underline;
  text-underline-position: under;
}
a{
  padding: 5px 15px;
  color: #ac0505;
  text-decoration: none;
}